section{
	height: 100vh;
	width: 100vw;
	clear: both;
	position: relative;
}
.first-block{
	background: #D4D4D4;
	background-size: 100%;
}
.second-block{
	background: #92020C;
}
.third-block{
	background: #D4D4D4;
	background-size: 100%;
}
.fourth-block{
	background: url("/app/assets/img/stc-map.jpg");
	background-size: 100%;
}
.slider{
	width: 100%;
	height: 100%;
}
.slide{
	width: 100%;
	height: 100%;
	margin: 0;
  	overflow: hidden;
}
.slider ul{
	margin: 0;
	padding: 0;
	height: 100%;
}
.slider li{
	list-style-type: none;
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

